body {
	background-color: #383838;
	color: #383838;
}

.leftColumn {
	background-color: #BBBBBB;
}


.menu {
	text-align: right;
	padding-top: 25px;
}

.menu li {
	padding-top: 10px;
}

.menu a,
.menu a:visited,
.menu a:hover {
	text-decoration: none;
	font-size: 1.5em;
	font-weight: bold;
	color: #FAFAFA;
}

.rightColumn {
	background-color: #FAFAFA;
}
