<ul class="Menu">
    <li><a href="/tutorial">Tutorial</a></li>
    <li><a href="/User_guide">User Guide</a></li>


    <li><a href="/faq">FAQ</a></li>
    <!--<li><a href="reference.html">Reference</a></li>-->

    <li><a href="/bridges">Bridges</a></li>
    <li><a href="/changelog">Changelog</a></li>
    <li><a href="/contributing">Contributing</a></li>

    <li><a href="http://axcraciun.wordpress.com/">Blog</a></li>
</ul>

<a href="/download" class="Download">Download<br/>
    <small>Version {{site.last_stjs_version}}</small>
</a>
