
body {
	background-color: #FAFAFA;
	font-family: Ubuntu, sans-serif;

	font-size: 14px;
	line-height: 22px;
}


/* https://drewish.com/tools/vertical-rhythm/ numbers : 14 - 22 - 36,30,22,20,18,16 */
p, ul, ol { font-size: 1em; /* 14px */ line-height: 1.5714em; /* 22px */ margin: 0 0 1.5714em 0; }
h1 { font-size: 2.5714em; /* 36px */ line-height: 1.2222em; /* 44px */ margin-top: 0.6111em; margin-bottom: 0.0000em; }
h2 { font-size: 2.1429em; /* 30px */ line-height: 1.4667em; /* 44px */ margin-top: 0.7333em; margin-bottom: 0.0000em; }
h3, header p { font-size: 1.5714em; /* 22px */ line-height: 1.0000em; /* 22px */ margin-top: 1.0000em; margin-bottom: 0.0000em; }
h4 { font-size: 1.4286em; /* 20px */ line-height: 1.1000em; /* 22px */ margin-top: 1.1000em; margin-bottom: 0.0000em; }
h5 { font-size: 1.2857em; /* 18px */ line-height: 1.2222em; /* 22px */ margin-top: 1.2222em; margin-bottom: 0.0000em; }
h6 { font-size: 1.1429em; /* 16px */ line-height: 1.3750em; /* 22px */ margin-top: 1.3750em; margin-bottom: 0.0000em; }

small { font-size: 0.7em; color:#777;}

/* Sanitation */
hr { border: 1px solid; margin: -1px 0; }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }
b, strong, em, small { line-height: 1; }

code, pre {
	font-family:Ubuntu Mono,Menlo,Monaco,Consolas,"Courier New",monospace
}

h1, h2, h3, h4, h5, h6 {
	color: #10C500;
}

.Header .Title {
	font-size: 2.5em;
	font-weight: bold;
	color: #10C500;
}

.Header .Title a,
.Header .Title a:visited,
.Header .Title a:hover {
	text-decoration: none;
	color: #10C500;
}

.Header .Subtitle {
	font-size: 1.5em;
	font-weight: bold;
	color: #FAFAFA;
	padding-top: 12px;
	padding-bottom: 20px;
}

.Header {
	background-color: #383838;
	color: #FAFAFA;
}

.Header--index {
	padding-bottom:2em;
}

.Header--index .Menu {
	float:none;
	text-align: right;
	padding-top: 25px;
}

.Header--index .Menu li {
	padding-top: 10px;
}

.Header--index .Menu a,
.Header--index .Menu a:visited,
.Header--index .Menu a:hover {
	font-size: 1.5em;
	line-height:1.4;
	font-weight: bold;
	color: #FAFAFA;

	display:block;
	height:auto;
	margin:0;
}

.Header--index .Download,
.Footer .Download{
	border-radius:5px;
}

.Footer {
	margin-top:50px;
}

.Navigation {
	height:50px;
	width:100%;

	background:#BBBBBB;
}

.Menu {
	list-style-type:none;
	float:left;
}

.Menu a {
	display:inline-block;
	height:50px;
	line-height:50px;
	margin:0 10px;

	color:#383838;
	text-decoration:none;
	font-weight:bold;
}

.Menu li {
	margin:0;
	display:inline;
}

.Download {
	background:#10C500;
	color:#fff !important;
	text-decoration:none;
	font-size:1.4em;

	display:inline-block;
	height:42px;
	line-height:20px;
	text-align:center;

	padding:8px 1em 0;

	float:right;
}

.Download small {
	clear:both;
	display:block;
	font-size:.6em;
	margin-top:1px;
	color: #fff;
}

.content {
	margin-top: 10px;
}

.content a {
	color: #10C500;
}

.content h2 {
	border-bottom: 4px solid #383838;
}

.content h3 {
	border-bottom: 2px solid #383838;
}

.code {
	font-family: Ubuntu Mono,Menlo,Monaco,Consolas,"Courier New",monospace;
	color: #BABABA;
	background-color: #202020;
	margin-bottom: 15px;
	border-radius: 5px;
	padding: 10px;
	padding-top: 15px;
	margin-top: 8px;
}

.Header .code {
	margin-top: 20px;
}

code {
	background-color: #E5E5E5;
	border-radius: 2px;
}

pre code {
	background-color: inherit;
}

.Index {
	list-style-type: decimal;
	list-style-position: inside;
}

.Index__item {
	margin-left: 20px;
}

.grid_10 ul{
	list-style-type: circle;
	list-style-position: outside;
	margin-left: 25px;
}
.grid_10 ul li {
	margin-top: 5px;
}

table.properties {
}

table.properties th,
table.properties td{
	border: 1px solid #BBBBBB;
	padding: 5px;
}


table.properties td.name {
	font-weight: bold;
	vertical-align: middle;
}


